{% include 'store/base.html' %}

{% load static %}



{% block content %}

<style>

    body {background-color: rgb(192, 192, 192);}



</style>

<body>

    <br> <br> <br> <br><br><br><br>

    <div class="container bg-white shadow-md p-5 form-layout ">

        <i></i>
        <h5 class="text-danger text-center"> <strong> Failed verified your email </strong> </h5>
        <hr>
        <p class="text-center">Click <a href="../">here</a> to return to the home page</p>

    </div>

</body>



{% endblock %}