
{% include 'store/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


<style>

    body {background-color: rgb(192, 192, 192);}



</style>
<br>
<div class="container bg-white shadow-md p-5 form-layout">



<h4> Enter your new password: </h4>

<p> Please your new password twice so we can verify that you typed it in correctly</p>


<form method="post">
    {% csrf_token %}

    {{form|crispy}}
    <br>    
    <button type="submit" class="btn btn-outline-primary  w-100 btn-block p2"> &nbsp; Update password </button>
</form>

</div>





{% endblock %}









